@using LawOffice.MvcWebUI.Areas.User.ViewModels.Blog
@model EditViewModel

@{
    ViewBag.Title = "Blog Düzenle";
}

@if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
{
    <div class="alert alert-danger">
        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.ValidationSummary(true)
    </div>
}

@if (TempData["message"] != null)
{
    if ((bool)TempData["message"] == true)
    {
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Blog belirtilen kategoriye sahip.
        </div>
    }
}

@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Blog Bilgileri</h6>
                </div>
                <div class="card-body">

                    @Html.HiddenFor(model => model.Blog.Id)
                    <h3><b>Başlık</b></h3>
                    @Html.TextAreaFor(model => model.Blog.Name, new { @class = "form-control", @id = "Tittle", @rows = "3" })
                    @Html.ValidationMessageFor(model => model.Blog.Name, "", new { @class = "text-danger" })
                    <hr />

                    <h3><b>Özet</b></h3>
                    @Html.TextAreaFor(model => model.Blog.Summary, new { @class = "form-control", @id = "Summary", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.Blog.Summary, "", new { @class = "text-danger" })
                    <hr />

                    <h3><b>İçerik</b></h3>
                    @Html.TextAreaFor(model => model.Blog.Text, new { @class = "form-control", @id = "Summary", @rows = "7" })
                    @Html.ValidationMessageFor(model => model.Blog.Text, "", new { @class = "text-danger" })
                    <hr />

                    <h3>
                        <b>Kategoriler</b>
                        <button type="button" class="btn btn-primary btn-sm mb-2 ml-3" data-toggle="modal" data-target="#addCategory">
                            + Kategori Ekle
                        </button><br />
                    </h3>
                    <p>


                        <div class="row ml-2">
                            @foreach (var item in Model.BlogCategories)
                            {
                                <a href="@Url.Action("RemoveCategoryFromBlog","Blog",new {blogCategoryId = item.Id })" class="btn btn-outline-danger mr-3" title="Kaldır">@item.Category.Name <i class="fas fa-trash"></i></a>

                            }
                        </div>

                    </p>
                </div>

            </div>
        </div>



        <div class="col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-body text-center">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <button type="button" id="btnBack" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Vazgeç</span>
                    </button>

                    &nbsp;

                    <button type="submit" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">Kaydet</span>
                    </button>


                </div>
            </div>
        </div>



    </div>
}

<!-- Modal -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryTitle">Yeni Kategori</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("AddCategoryToBlog", "Blog", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                                @Html.Hidden("blogId", Model.Blog.Id)
                                <label for="userId" class="control-label">Kategori</label>
                                @Html.DropDownList("categoryId", (SelectList)ViewBag.CategoryId, "Kategori Seçiniz", new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            }


        </div>
    </div>
</div>


@section createObj
{
}


@section MyScript
{
    <script>
        var btn = document.getElementById("btnBack");
        btn.onclick = function () {
            window.history.back();
        }
    </script>
}