@using LawOffice.MvcWebUI.Areas.Admin.ViewModels.User
@model DetailsViewModel

@{
    ViewBag.Title = "Kullanıcı Bilgileri";
}


<!-- Content Row -->
<div class="row">
    <!-- Content Column -->
    <div class="col-md-7 mb-4">
        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">Kişisel Bilgiler</h6>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">Adı</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.User.FirstName, new { @class = "form-control", @readonly = "" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">Soyadı</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.User.LastName, new { @class = "form-control", @readonly = "" })

                    </div>
                </div>

                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">Kullanıcı Adı</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.User.UserName, new { @class = "form-control", @readonly = "" })

                    </div>
                </div>

                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">E-Posta Adresi</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.User.Email, new { @class = "form-control", @readonly = "" })

                    </div>
                </div>

                <div class="form-group row">
                    <label for="Name" class="col-sm-3 col-form-label">Roller</label>
                    <div class="col-sm-9">
                        @foreach (var item in Model.Roles)
                        {
                            <span class="badge badge-secondary mr-2">@item.Name</span>                   
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5 mb-4">
       

        <div class="card shadow mb-2">
            <div class="card-body text-lg-center">
                <div class="form-group">
                    <a href="@Url.Action("Index","User")" class="btn btn-secondary btn-circle btn-sm" title="Listeye Dön">
                        <i class="fas fa-angle-left fa-2x"></i>
                    </a>

                    <a href="@Url.Action("Edit","User",new { id=Model.User.Id})" class="btn btn-warning btn-circle btn-sm" title="Düzenle">
                        <i class="fas fa-pencil-alt"></i>
                    </a>

                    <a href="@Url.Action("Delete","User",new { id=Model.User.Id})" class="btn btn-danger btn-circle btn-sm" title="Sil">
                        <i class="fas fa-trash"></i>
                    </a>

                </div>
            </div>
        </div>



        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Hukuk Alanları</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 my-auto">
                        <div class="text-center">
                            <img class="img-fluid" style="width: 14rem;" src="~/Themes/Admin/img/undraw_book_lover_mkck.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in Model.FieldsOfLaw)
                            {
                                <li class="list-group-item">@item.Name</li>
                            }

                        </ul>
                    </div>
                </div>


            </div>
        </div>


    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bloglar</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 my-auto">
                        <div class="text-center">
                            <img class="img-fluid" style="width: 25rem;" src="~/Themes/Admin/img/undraw_content_vbqo.svg" alt="">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dtBlogs" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Özet</th>
                                        <th>Tarih</th>
                                        <th style="width:5%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Blogs.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.Blogs[i].Name</td>
                                            <td>@(Model.Blogs[i].Summary.Length > 70 ? Model.Blogs[i].Summary.Substring(0, 67) + "..." : Model.Blogs[i].Summary)</td>
                                            <td>@Model.Blogs[i].CreatedOn</td>
                                            <td class="text-center">
                                                <a href="@Url.Action("Details","Blog",new { id=Model.Blogs[i].Id})" target="_blank" class="btn btn-primary btn-circle btn-sm" title="Detaylar">
                                                    <i class="fas fa-angle-right"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Yanıtlar</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dtUsers" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Soru Kodu</th>
                                        <th>Soru</th>
                                        <th>Tarih</th>
                                        <th style="width:5%;">Cevap</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Answers.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model.Answers[i].Question.Code</td>
                                            <td>@(Model.Answers[i].Question.Text.Length > 70 ? Model.Answers[i].Question.Text.Substring(0, 67) + "..." : Model.Answers[i].Question.Text)</td>
                                            <td>@Model.Answers[i].CreatedOn</td>
                                            <td class="text-center">

                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#Modal_@i" title="Detaylar">
                                                    <i class="fas fa-book-open"></i>
                                                </button>


                                                <!-- Modal -->
                                                <div class="modal fade bd-example-modal-lg" id="Modal_@i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Yanıt</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-4">
                                                                        <label>Kod</label>
                                                                        @Html.TextBox("Code", @Model.Answers[i].Question.Code, new { @class = "form-control", @readonly = "" })
                                                                    </div>

                                                                    <div class="form-group col-md-4">
                                                                        <label>Tarih</label>
                                                                        @Html.TextBox("date", @Model.Answers[i].Question.CreatedOn, new { @class = "form-control", @readonly = "" })
                                                                    </div>

                                                                    <div class="form-group col-md-4">
                                                                        <label>Soran</label>
                                                                        @Html.TextBox("user", (@Model.Answers[i].Question.FirstName + " " + @Model.Answers[i].Question.LastName), new { @class = "form-control", @readonly = "" })
                                                                    </div>

                                                                </div>


                                                                <div class="form-group text-left">
                                                                    <label>Konu</label>
                                                                    @Html.TextArea("subject", @Model.Answers[i].Question.Subject, new { @class = "form-control", @rows = "2", @readonly = "" })
                                                                </div>



                                                                <div class="form-row text-left">
                                                                    <label>Soru</label>
                                                                    @Html.TextArea("question", @Model.Answers[i].Question.Text, new { @class = "form-control", @rows = "3", @readonly = "" })
                                                                </div>

                                                                <div class="form-row text-left">

                                                                    <label>Yanıt</label>
                                                                    @Html.TextArea("answer", @Model.Answers[i].Text, new { @class = "form-control", @rows = "4", @readonly = "" })

                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                            </td>
                                        </tr>
                                    }

                                </tbody>


                            </table>
                        </div>
                    </div>
                    <div class="col-md-3 my-auto">
                        <div class="text-center  ">
                            <img class="img-fluid " style="width: 25rem;" src="~/Themes/Admin/img/undraw_questions_75e0.svg" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



@section dataTable
{
    <script>
        $(document).ready(function () {
            $('#dtUsers').DataTable({
                "language":
                {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                },
                "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]]
            });
        });

        $(document).ready(function () {
            $('#dtBlogs').DataTable({
                "language":
                {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                },
                 "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]]
            });
        });
    </script>
}